<!DOCTYPE html>
<html>
  <head>
    <title>Lab 7 (Analytics)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<!--    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QTJKX7NF6X"></script>-->
<!--    <script>-->
<!--        window.dataLayer = window.dataLayer || [];-->
<!--        function gtag(){dataLayer.push(arguments);}-->
<!--        gtag('js', new Date());-->

<!--        gtag('config', 'UA-226309065-1');-->
<!--    </script>-->
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flash' %>
  <div id="container" class="container">

    <%= yield %>
  </div>
  </body>
</html>
